apispec==5.2.2
awscli-local==0.20
boto3==1.24.9
botocore==1.27.9
cachetools==3.1.1
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
commonmark==0.9.1
cryptography==37.0.2
deepdiff==5.8.1
dill==0.3.2
dnslib==0.9.19
dnspython==2.2.1
ecdsa==0.17.0
Flask==2.1.2
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.0
localstack==0.14.3.2
localstack-client==1.35
localstack-ext==0.14.3.5
MarkupSafe==2.1.1
ordered-set==4.1.0
pbr==5.9.0
plux==1.3.1
psutil==5.9.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.21
Pygments==2.12.0
pypng==0.0.20
PyQRCode==1.2.1
pyshorteners==1.0.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
PyYAML==6.0
requests==2.25.1
rich==12.4.4
rsa==4.8
s3transfer==0.6.0
semver==2.13.0
six==1.16.0
stevedore==3.5.0
tabulate==0.8.9
tailer==0.4.1
urllib3==1.26.3
Werkzeug==2.1.2
